PORT=3002
DATABASE_URL="postgresql://postgres:password@localhost:5432/holocron_sentinel?schema=public"
REDIS_URL="redis://localhost:6379"
CRITICAL_EVENTS_LIMIT=3
AWS_CLOUDWATCH_ENDPOINT="http://localhost.localstack.cloud:4566"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"